::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #3b3b3b;
  border: 1px solid #545454;
  border-radius: .2rem;
}

::-webkit-scrollbar-thumb {
  border-radius: .2rem;
  background: #6d6d6d;
}
